{% extends 'base.html' %}
{% block content %}
	<div class="case-entry">
	    <h2>{{ object.casenumber }}</h2>
	    <p>{{ object.city }}{{ object.township }}{{ object.section }}{{ object.small_section }}</p>
	    <p>
            {% for land in object.land_set.all %}
                {{ land.landnumber }}
                {{ land.landurl }}
            {% endfor %}
        </p>
	</div>

	<p>
		<a href="{% url 'case_edit' case.pk %}">編輯</a> | 
		<a href="{% url 'case_delete' case.pk %}">刪除</a></p>
	<p>返回到 <a href="{% url 'case_list' %}">所有的案件</a>.</p>
{% endblock content %}
